<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "simpleweatherapp" version   = "1.0.0">
    <name>Simple Weather App</name>
    <description>This is a simple weather app for teaching purposes, that consumes an XML web service and is intended to be compiled on PhoneGap.</description>
    <author href="" email="">Peter Withers</author>
    <preference name="permissions" value="none"/>
    <access origin="*"/>
</widget>